/* Header and banner */

body{
    font-family: 'Roboto', sans-serif;
}

header{
    background: #F0FFF0;
}

header .logo{
    width: 200px;
}
nav .navbar-nav li{
    padding: 10px;
}
nav .navbar-nav li a{
    color: black !important;
}
.input-button{
    border: none;
    background: #21B573;
    border-radius: 33px;
    color: white;
}

header .title{
    font-weight: bolder;
}

header .title span{
    color: #21B573;;
}

/* Activies */

.activies .card{
    border: none;
    padding: 10px 20px;
    height: auto;
}

.activies  .cat1 ,.cat3, .cat4{
    background-color: #F8FFFB;
    border-radius: 10px;
}
.activies .cat2{
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Online Courses Design */


.online-courses .card{
    border: none;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
}
.online-courses .card .date-people{
    font-size: small;
}

/* Upcomming Events */

.upcomming-events .card{
    border: none;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
}


/* Testimonial Design */

.testimonial img{
    max-width: 120px;
    max-height: 120px;
}

.testimonial p{
    max-width: 75%;
    font-size: 15px;
}

/* footer */

footer{
    background: #282531;
    color: white;
    margin-top: 150px;
}

footer ul li{
    list-style-type: none;
    font-size: small;
    color: #CDCDCD;
    padding-bottom: 5px;
}
footer .row{
    padding: 80px;
}
footer ul .footer-title{
    font-weight: bold;
}

footer .footer-content{
    font-size: 14px;
    color: #CDCDCD;
    letter-spacing: 1px;
}
footer .copyright{
    font-size: small;
    color: #CDCDCD;;
}